<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Firt Project">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
		<listener class-name="com.v2a.listeners.CustomeListeners"></listener>
	</listeners>
	<test name="Bankn Manager Login Test">
		<classes>
			<class name="com.v2a.testCases.LoginTest" />

		</classes>
	</test> <!-- Test -->

	<test name="Add Customer  Test">
		<classes>
			<class name="com.v2a.testCases.AddCustomerTest" />

		</classes>
	</test>
</suite> <!-- Suite -->
